*{
    margin: 0;
    padding: 0;
    
}

.grid {
    display: grid;
}

#entrada {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(189, 209, 248);
    min-height: 400px;

}

#cuerpo { 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-color: rgb(189, 209, 248);
    min-height: 400px;
}

.titulo {
    font-size: 40px;
    text-align: center;
    padding: 20px;

}

.subtitulo {
    text-align: center;
    font-size: 35px;
    padding: 15px;
}

.subtitulo2 {
    text-align: center;
    font-size: 25px;
    padding: 10px;
}

.parrafo {
    font-size: 20px;
    padding: 20px;
    flex-direction: column;
    text-align: start;
}

.centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centrado2 {
    flex-direction: row;
    text-align: center;
}

.botonnav {
    background-color: #0c3c5c;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.botonnav:hover {
    background-color: #0a4e7a;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.boton {
    color: white;
    text-align: center;
}

.logo {
    width: 70px;
    padding: 10px;
}

.logo2 {
    width: 70px;
}

.inicio {
    text-align: left;
}

.main {
    min-height: 1000px;
}


.header{ 
    min-height: 90px;
    background: rgb(154, 185, 243);
    display:flex ;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}




body header nav ul {
    display: flex;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    font-family: "sans-serif;"
    
}

body header nav ul li {
    padding: 10px;
}

@media (max-width:700px){
    .header{
        flex-direction: column;
    }
    body main section div img{
        width: 60%;
        padding-right: 90px;
    }
    body main section div p{
        text-align: center;
        padding-right: 0px;
    }
    body header nav ul {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    .card {
        flex-basis: 100%; 
    }
}

   
a:link, a:visited, a:active {
    text-decoration:none;

}

body main img {
    margin: 40px;
    border-radius: 10px;
    background-size: cover;
        
}

.contacto {
    padding-top: 150px;
    font-size: 40px;
    height: 150px;
}

.letra {
    font-family: sans-serif 
    }

footer{
    display: flex;
    justify-content: space-between;
    background: rgb(154, 185, 243);
    height: 140px;
    padding: 15px;
    list-style: none;
}

footer nav ul li{
    list-style: none;
    padding: 10px;
    font-size: 20px;    
}
